body {
  padding: 0px;
  margin: 0px;
}


.arm {
  position: absolute;
  left: 150px;
  top: 50px;
  cursor: hand;
}

.headline {
  padding: 190px 70px 0;
  text-align: left;
  width: 100px;
}
.yellow {
  background-color: #ffc700;
  display: block;
  height: 3px;
}

