body {
  padding: 0px;
  margin: 0px;
}
.car {
  background: url(./images/主页图3.jpg);
  position: absolute;
  left: 90px;
  width: 1615px;
  height: 706px;
  background-position: center;
}
.arm {
  position: absolute;
  left: 80px;
  top: 50px;
  cursor: hand;
}
.subtitle{
  position: absolute;
  left: 70px;
  padding-top: 180px;
  font-size: 34px;
  text-align: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.description {
 font-size: 21px;
  color: white;
  line-height: 2px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}
.title {
  font-size: 66px;
  color: white;
}
.yellow {
  background-color: #ffc700;
  display: block;
  height: 3px;
  margin: 30px 0 15px;
  margin-bottom: 50px;
  width: 938px;
}
.learn {
  background: #ffc700;
  color: #333e48;
  margin: 0px;
  border-radius: 40px;
  font-size: 20px;
  width: 180px;
  padding: 10px;
  margin-top: 40px;

}
.more {
  padding-left: 40px;
  color: #333e48;
  text-decoration: none;
}

 .arm2 {
   position: absolute;
   left: 15px;
   top: 40px;
 }
 

 .alland {
   position: relative;
   width: 90px;
   height: 705px;

 }
 #aa {
   position: fixed;
   box-shadow: 0px;
 }

 .products {
   position: absolute;
   left: 30px;
   top: 90px;
 }
 .products2 {
   position: absolute;
   left: 20px;
   top:  125px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   color: gray;
 }
 .solutions {
   position: absolute;
   left: 30px;
   top: 180px;
 }
 .solutions2 {
   position: absolute;
   left: 21px;
   top: 210px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: gray;
 }
 .why {
   position: absolute;
   top: 261px;
   left: 30px;
 }
 .why2 {
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   font-size: 12px;
   left: 23px;
   top: 298px;
   color: gray;
 }
 .support {
   position: absolute;
   left: 31px;
   top: 345px;
 }
 .support2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: gray;
   position: absolute;
   left: 18px;
   top: 375px;
 }
 .resources {
   position: absolute;
   left: 30px;
   top: 445px;
 }
 .resources2 {
   position: absolute;
   left: 18px;
   top: 475px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: gray;
 }
 .company {
  position: absolute;
  left: 30px;
  top: 530px;
 }
 .company2 {
   position: absolute;
   left: 20px;
   top: 565px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: gray;
 }
.w {
  padding-top: 90px;
}
.row {

}
.product {
  width: 1000px;
  position: absolute;
  left: 50px;
  top: 800px;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 400px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #333e48;
}
.from {
  position: absolute;
  top: 900px;
  width: 1100px;
  color: gray;
  max-width: 70.12rem;
  line-height: inherit;
  letter-spacing: 1px;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 340px;
  letter-spacing: 0.5px;
  text-align: center;
}
.e {
  display: inline-block;
  width: 1000px;
  position: absolute;
  left: 100px;
  top: 900px;
  margin-bottom: 30px;
}

.xx { 
  position: relative;
  height: 900px;
  width: 2000px;
}

.p {
  position: relative;
}

.nn {
  width: 1100px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
.xinpian {
  float: left;
  display: inline-block;
  width: 450px;
  padding: 30px 50px;
  margin: 0 auto;
}
.xp {
  padding-left: 120px;
}
.yun {
  float: right;
  position: relative;
  width: 450px;
  display: inline-block;
  padding:30px 50px;
  margin: 0 auto;
}
.yun2 {
  padding-left: 120px;
}
.rrocessor {
  color: #333e48;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-left: 140px;
  margin-bottom: 20px;
}
.technology {
  font-size: 28px;
  margin: 0 0 15px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  text-align: center;
}
.world {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: gray;
  text-align: center;
}
.explore  {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 110px;
  padding-top: 20px;
  font-size: 21px;
  font-weight: 500;
  color: darkcyan;
}
.tot {
  color: #333e48;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 80px ;
  margin-bottom: 10px;
  margin-top: 30px;
}
.removes {
  font-size: 28px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  text-align: center;
  margin: 0 0 15px;
}
.complete {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: gray;
  text-align: center;
}
.exploretot {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 110px;
  padding-top: 50px;
  font-size: 21px;
  font-weight: 500;
  color: darkcyan;
}